// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Feed styling
@import 'feed';

//Modal styling
@import 'modal';

.white {
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.settings-nav {
    border-bottom: 1px solid #e7e7e7;
}

.active {
    border-right: 3px solid #4e73df;
}

a {
    color: #212529;
}

a:hover {
    color: #212529;
    text-decoration: none;
}

.hover:hover {
    background-color: #f8f9fa;
}

.avatar {
    width: 140px;
    height: 140px;
}

.profile-container {
    color: gray;
}
