.form-gap {
  margin-top: 5px;
}

.presence {
  color: green;
}

#chat-pfp {
  margin: 0 auto 0 auto;
}

#chat-col {
  margin-top: 5px;
  padding-left: 0 !important;
}

.card-body-overflow {
  overflow-y: scroll;
}
